// Colours
$bodyColour: #12343b;
$headingColour: darken($bodyColour, 5%);
$linkColour: #5B5BFF;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #e1b382;
$codeBackgroundColour: darken($backgroundColour, 5%);
